<!DOCTYPE html>
<html>
  <head>
    <title>Space Invaders Redux</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/buttons.css" />
    <link rel="stylesheet" type="text/css" href="/css/controls.css" />
    <link rel="stylesheet" type="text/css" href="/css/range.css" />
    <link rel="stylesheet" type="text/css" href="/css/utils.css" />
  </head>
  <body>
    <main class="game">
      <div class="controls">
        <div class="controls__row margin-bottom">
          <div class="controls__row__item">
            <span id="total-score">0</span>
            <br />
            <span>Score</span>
          </div>
          <div class="controls__row__item">
            <span id="top-score">0</span>
            <br />
            <span>Top</span>
          </div>
          <div class="controls__row__item flex-shrink">
            <button class="button play-button" id="button">Start</button>
          </div>
        </div>
        <div class="controls__row">
          <div class="controls__row__item">
            <input
              class="range"
              type="range"
              id="speed-dial"
              min="10"
              max="100"
              step="10"
            />
            <label for="speed">Speed</label>
          </div>
        </div>
      </div>
      <div class="view">
        <div class="canvas" id="canvas"></div>
        <div class="overlay" id="initial-message">
          <span>
            <span class="overlay__text overlay__text--title">
              SPACE INVADERS REDUX
            </span>
            <br />
            <br />
            <br />
            <br />
            <span class="overlay__text">
              Don't let aliens land
            </span>
            <br />
            <br />
            <span class="overlay__text">
              Kill alien by tapping
            </span>
            <br />
            <br />
            <span class="overlay__text">
              Adjust difficulty with speed slider
            </span>
            <br />
            <br />

            <span class="overlay__text">
              Press Start to play and beat the stop score!
            </span>
          </span>
        </div>
        <div class="overlay" id="pause-message">
          <span>
            <span class="overlay__text">
              Game Paused
            </span>
            <br />
            <br />
            <br />
            <br />
            <span class="overlay__text">
              Press Resume to continue
            </span>
          </span>
        </div>
        <div class="overlay" id="game-over-message">
          <span>
            <span class="overlay__text">
              Game Over
            </span>
            <br />
            <br />
            <br />
            <br />
            <span class="overlay__text">
              Press Reset to play again
            </span>
          </span>
        </div>
      </div>
    </main>
    <script src="/js/index.js" type="module"></script>
  </body>
</html>
