@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/press-start2p-regular.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

* {
  font-size: 16px;
  font-family: "Press Start 2P";
  color: white;
}

/* Makes sure common devices regardless of screen size will get render
the game in the same dimensions for fairness */
html {
  height: calc(100% + env(safe-area-inset-top));
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

/* APP LAYOUT */

.game {
  /* Lock the game dimensions no matter which device for fairness */
  height: 548px;
  width: 375px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.total-score {
  font-size: 1.5rem;
}

.view {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.canvas {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  display: none;
}

.overlay__text {
  background-color: black;
}

.overlay__text--title {
  font-size: 2rem;
}

/* GAME CHARACTERS */

.alien,
.turret,
.missile {
  background-image: url("/img/sprites.png");
  background-size: cover;
  cursor: pointer;
}
